@use "../mixins";
@use "../variables";

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px 0;
  // background-color: #ebebeb;
  font-size: 0.9rem;
  .footer-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 1.5rem;
    flex-wrap: nowrap;
    margin: auto;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }
    .logo-col {
      display: flex;
      align-items: flex-start;
      text-align: start;
      width: 30%;
      flex-direction: column;
      gap: 1rem;
      img {
        width: 200px;
      }
      p {
        color: variables.$gray-3;
      }

      @media (max-width: 768px) {
        align-items: center;
      }
    }
    .footer-links {
      @include mixins.flex-col-center();
      width: 20%;
      justify-content: start;
      gap: 0.5rem;
      a {
        text-decoration: none;
        color: variables.$gray-3;
      }
    }
    .newsletter-col {
      width: 30%;
      @include mixins.flex-col-center();
    }
  }
  hr {
    width: 100%;
    margin: 1rem 0;
  }
  .animidia {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: auto;
    justify-content: space-between;

    @media (max-width: 768px) {
      gap: 0.5rem;
      padding: 2px 0px 2px 0;
    }

    .social-media {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      a {
        color: variables.$black;
      }
    }
  }
}
