@use "../mixins";
@use "../variables";

.hero {
  display: flex;
  justify-content: space-between;
  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    max-width: 50%;
    @media (max-width: 768px) {
      max-width: unset;
    }
    span {
      color: variables.$terracota-2;
    }
    p {
      color: variables.$gray-3;
      font-size: 1rem;
    }
    a {
      text-decoration: none;
      color: variables.$terracota-2;
    }
    .connexion-buttons {
      display: flex;
      gap: 1rem;
      .login-btn {
        @include mixins.btn-defaut();
        @include mixins.btn-gray();
        @media (max-width: 768px) {
          font-size: 1rem;
          padding: 0.5rem;
        }
      }
      .sign-up-btn {
        @include mixins.btn-defaut();
        @include mixins.btn-terracota();
        max-width: fit-content;
        @media (max-width: 768px) {
          font-size: 1rem;
          padding: 0.5rem;
        }
      }
    }
  }
  .img-hero {
    width: auto;
    height: 400px;
    @media (max-width: 768px) {
      display: none;
    }
  }
}
