@use "../mixins";
@use "../variables";

.hero {
  display: flex;
  justify-content: space-between;
  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    max-width: 50%;
    span {
      color: variables.$terracota-2;
    }
    p {
      color: variables.$gray-3;
      font-size: 1rem;
    }
    a {
      text-decoration: none;
      color: variables.$terracota-2;
    }
    .connexion-buttons {
      display: flex;
      gap: 1rem;
      .login-btn {
        @include mixins.btn-defaut();
        @include mixins.btn-gray();
      }
      .sign-up-btn {
        @include mixins.btn-defaut();
        @include mixins.btn-terracota();
        max-width: fit-content;
      }
    }
  }
  img {
    width: auto;
    height: 400px;
  }
}
