@use "../variables";

.ingredients-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin: 1rem 0;
  label {
    display: flex;
    gap: 0.5rem;
    &.checked {
        color: variables.$gray-2;
        text-decoration:line-through;
    }
    input {
      all: unset;
      border: 0.1rem solid variables.$terracota-1;
      border-radius: 0.2rem;
      width: 0.75rem;
      height: 0.75rem;
      cursor: pointer;
      &:checked {
        background-color: variables.$terracota-1;
      }
      &:checked + label {
        color: aqua;
      }
      label {
        color: pink;
      }
    }
  }
}
