@use "../mixins";
@use "../variables";

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: variables.$white;
  nav {
    @include mixins.flex-gap-1rem;
    a {
      text-decoration: none;
      color: variables.$black;
      font-weight: 500;
      &:hover {
        color: variables.$terracota-1;
      }
    }
  }
  .nav-buttons {
    @include mixins.flex-gap-1rem;
    .login-btn {
      @include mixins.btn-defaut();
      @include mixins.btn-gray();
    }
    .logout-btn {
      @include mixins.btn-defaut;
      @include mixins.btn-terracota();
    }
  }
}
