@use "../variables";
@use "../mixins";

.search-recipe-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .category-filters {
    display: flex;
    justify-content: space-around;
    background-color: variables.$gray-1;
    border-radius: 1rem;
    padding: 2rem 1rem;
    .selector {
      display: flex;
      align-items: center;
      font-size: 1.5rem;
      font-weight: 500;
      color: variables.$terracota-2;
    }
    .category-container {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      margin: 0;
      h5 {
        color: variables.$terracota-3;
      }
      .filters-container {
        display: flex;
        gap: 10px;
        .cuisine-selector {
          padding: 0.2rem 0.5rem;
          border-radius: 0.3rem;
          font-size: 1rem;
          border: none;
          color: variables.$terracota-3;
          outline: none;
        }
      }
    }
  }
  #fetchButton {
    visibility: hidden;
    @include mixins.btn-defaut();
    max-width: 400px;
    width: 100%;
    align-self: center;
    background-color: variables.$terracota-1;
    color: variables.$white;
    &.selected {
      visibility: visible;
    }
  }
}
