@use "../variables";
@use "../mixins";

.login-container {
  @include mixins.flex-col-center();
  gap: 1.5rem;
  width: 40%;
  align-self: center;
  border-radius: 0.5rem;
  padding: 3rem 1rem;
  background-color: variables.$gray-1;
  .input-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    .form-login-label {
      font-size: large;
    }
    .email-input,
    .password-input {
      border: 0.1rem solid variables.$black;
      border-radius: 0.4rem;
      padding: 0.5rem;
      font-size: 0.9rem;
    }
  }
  .login-button {
    width: 100%;
    padding: 0.5rem;
    font-size: 0.9rem;
    font-weight: 600;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    @include mixins.btn-terracota();
  }
  .google-login-button {
    width: 100%;
    padding: 0.5rem 0.9rem;
    background-color: #fff;
    color: #757575;
    border: 1px solid #757575;
    border-radius: 0.5rem;
    font-size: 0.9rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    &:hover {
      background-color: #f8f8f8;
    }
    .google-logo {
      display: inline-block;
      width: 20px;
      height: 20px;
      background-image: url("https://developers.google.com/identity/images/g-logo.png");
      background-size: cover;
      vertical-align: middle;
      margin-right: 10px;
    }
  }
}
