@use "../styles/variables";

@mixin flex-gap-1rem {
  display: flex;
  gap: 1rem;
}

@mixin flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin btn-defaut {
  font-size: 0.9rem;
  font-weight: 600;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  min-width: 6.25rem;
  cursor: pointer;
}

@mixin btn-terracota {
  background-color: variables.$terracota-1;
  color: variables.$white;
  transition: all 300ms ease-in-out;
  &:hover {
    background-color: variables.$gray-2;
    color: variables.$black;
  }
}

@mixin btn-gray {
  background-color: variables.$gray-1;
  transition: all 300ms ease-in-out;
  &:hover {
    background-color: variables.$terracota-3;
    color: variables.$white;
  }
}

@mixin view-more-btn {
  background-color: unset;
  border: unset;
  color: variables.$terracota-1;
  font-weight: 600;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
