$black: #1e1e1e;
$terracota-1: #b55d51;
$terracota-2: #974e44;
$terracota-3: #793e37;
$gray-1: #ebebeb;
$gray-2: #a5a5a5;
$white: #ffffff;

h1 {
  font-size: 48px;
  margin: 0;
}

h2 {
  font-size: 36px;
  margin: 0;
}
