@use "./variables";

@use "./pages/recipe.scss";

@use "./components/navbar";
@use "./components/hero";
@use "./components/footer";
@use "./components/featuredRecipes";
@use "./components/cardRecipe";
@use "./components/nutritionalFacts";

#root {
  max-width: 1240px;
  margin: 0 auto;
  padding: 1rem 0;
  font-family: "Roboto", sans-serif;
  color: variables.$black;
}

main {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  margin: 4.25rem 0;
}