h1 {
  font-size: 3rem;
  margin: 0;
}
@media (max-width: 768px) {
  h1 {
    font-size: 2.25rem;
  }
}

h2 {
  font-size: 2.25rem;
  margin: 0;
}
@media (max-width: 768px) {
  h2 {
    font-size: 1.75rem;
  }
}

h3 {
  font-size: 1.9rem;
  margin: 0;
  color: #793e37;
}
@media (max-width: 768px) {
  h3 {
    font-size: 1.4rem;
  }
}

h4 {
  font-size: 1.1rem;
  margin: 0;
}
@media (max-width: 768px) {
  h4 {
    font-size: 1rem;
  }
}

h5 {
  font-size: 0.975rem;
  margin: 0;
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}
.login-container .form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 40%;
  align-self: center;
  border-radius: 0.5rem;
  padding: 3rem 1rem;
  background-color: #ebebeb;
}
@media (max-width: 768px) {
  .login-container .form-container {
    width: 100%;
    height: 100%;
    justify-content: center;
    gap: 2rem;
  }
}
.login-container .form-container .form-title {
  font-size: 2rem;
}
@media (max-width: 768px) {
  .login-container .form-container .form-title {
    font-size: 1.75rem;
  }
}
@media (max-width: 768px) {
  .login-container .form-container .logo-form {
    width: 75%;
  }
}
.login-container .form-container .input-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}
.login-container .form-container .input-group .form-login-label {
  font-size: large;
  align-items: flex-start;
}
@media (max-width: 768px) {
  .login-container .form-container .input-group .form-login-label {
    gap: 1rem;
  }
}
.login-container .form-container .input-group .email-input,
.login-container .form-container .input-group .password-input {
  border: 0.1rem solid #1e1e1e;
  border-radius: 0.4rem;
  padding: 0.5rem;
  font-size: 0.9rem;
  width: -webkit-fill-available;
}
@media (max-width: 768px) {
  .login-container .form-container .input-group .email-input,
  .login-container .form-container .input-group .password-input {
    padding: 0.75rem;
    font-size: 1.2rem;
  }
}
.login-container .form-container .login-button {
  width: 100%;
  padding: 0.5rem;
  font-size: 0.9rem;
  font-weight: 600;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: #b55d51;
  color: #ffffff;
  transition: all 300ms ease-in-out;
}
.login-container .form-container .login-button:hover {
  background-color: #a5a5a5;
  color: #1e1e1e;
}
@media (max-width: 768px) {
  .login-container .form-container .login-button {
    padding: 0.75rem;
    font-size: 1.2rem;
  }
}
.login-container .form-container .google-login-button {
  width: 100%;
  padding: 0.5rem 0.9rem;
  background-color: #fff;
  color: #757575;
  border: 1px solid #757575;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
@media (max-width: 768px) {
  .login-container .form-container .google-login-button {
    padding: 0.75rem;
    font-size: 1.2rem;
  }
}
.login-container .form-container .google-login-button:hover {
  background-color: #f8f8f8;
}
.login-container .form-container .google-login-button .google-logo {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("https://developers.google.com/identity/images/g-logo.png");
  background-size: cover;
  vertical-align: middle;
  margin-right: 10px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
}
@media (max-width: 768px) {
  header {
    flex-direction: column;
    gap: 1rem;
  }
}
header nav {
  display: flex;
  gap: 1rem;
}
@media (max-width: 768px) {
  header nav {
    gap: 2rem;
  }
}
header nav a {
  text-decoration: none;
  color: #1e1e1e;
  font-weight: 500;
}
header nav a:hover {
  color: #b55d51;
}
@media (max-width: 768px) {
  header nav a {
    font-size: 22px;
  }
}
header .nav-buttons {
  display: flex;
  gap: 1rem;
}
@media (max-width: 768px) {
  header .nav-buttons {
    display: none;
  }
}
header .nav-buttons .signed-user {
  display: flex;
  gap: 1rem;
  align-items: center;
}
header .nav-buttons .signed-user p {
  margin: unset;
  font-size: 1rem;
}
header .nav-buttons .login-btn {
  font-size: 0.9rem;
  font-weight: 600;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  min-width: 6.25rem;
  cursor: pointer;
  background-color: #ebebeb;
  transition: all 300ms ease-in-out;
}
@media (max-width: 768px) {
  header .nav-buttons .login-btn {
    padding: 0.75rem;
    font-size: 1.2rem;
  }
}
header .nav-buttons .login-btn:hover {
  background-color: #793e37;
  color: #ffffff;
}
header .nav-buttons .logout-btn {
  font-size: 0.9rem;
  font-weight: 600;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  min-width: 6.25rem;
  cursor: pointer;
  background-color: #b55d51;
  color: #ffffff;
  transition: all 300ms ease-in-out;
}
@media (max-width: 768px) {
  header .nav-buttons .logout-btn {
    padding: 0.75rem;
    font-size: 1.2rem;
  }
}
header .nav-buttons .logout-btn:hover {
  background-color: #a5a5a5;
  color: #1e1e1e;
}

.hero {
  display: flex;
  justify-content: space-between;
}
.hero .hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  max-width: 50%;
}
@media (max-width: 768px) {
  .hero .hero-content {
    max-width: unset;
  }
}
.hero .hero-content span {
  color: #974e44;
}
.hero .hero-content p {
  color: #4c4c4c;
  font-size: 1rem;
}
.hero .hero-content a {
  text-decoration: none;
  color: #974e44;
}
.hero .hero-content .connexion-buttons {
  display: flex;
  gap: 1rem;
}
.hero .hero-content .connexion-buttons .login-btn {
  font-size: 0.9rem;
  font-weight: 600;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  min-width: 6.25rem;
  cursor: pointer;
  background-color: #ebebeb;
  transition: all 300ms ease-in-out;
}
@media (max-width: 768px) {
  .hero .hero-content .connexion-buttons .login-btn {
    padding: 0.75rem;
    font-size: 1.2rem;
  }
}
.hero .hero-content .connexion-buttons .login-btn:hover {
  background-color: #793e37;
  color: #ffffff;
}
@media (max-width: 768px) {
  .hero .hero-content .connexion-buttons .login-btn {
    font-size: 1rem;
    padding: 0.5rem;
  }
}
.hero .hero-content .connexion-buttons .sign-up-btn {
  font-size: 0.9rem;
  font-weight: 600;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  min-width: 6.25rem;
  cursor: pointer;
  background-color: #b55d51;
  color: #ffffff;
  transition: all 300ms ease-in-out;
  max-width: fit-content;
}
@media (max-width: 768px) {
  .hero .hero-content .connexion-buttons .sign-up-btn {
    padding: 0.75rem;
    font-size: 1.2rem;
  }
}
.hero .hero-content .connexion-buttons .sign-up-btn:hover {
  background-color: #a5a5a5;
  color: #1e1e1e;
}
@media (max-width: 768px) {
  .hero .hero-content .connexion-buttons .sign-up-btn {
    font-size: 1rem;
    padding: 0.5rem;
  }
}
.hero .img-hero {
  width: auto;
  height: 400px;
}
@media (max-width: 768px) {
  .hero .img-hero {
    display: none;
  }
}

footer {
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 1.1rem;
  left: 0;
  width: 100%;
  padding: 20px 0;
  background-color: #ebebeb;
  font-size: 0.9rem;
}
footer .footer-content {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  width: 1240px;
  margin: auto;
}
footer .footer-content .logo-col {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
footer .footer-content .logo-col img {
  width: 200px;
}
footer .footer-content .logo-col p {
  color: #4c4c4c;
}
footer .footer-content .footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  justify-content: start;
  gap: 0.5rem;
}
footer .footer-content .footer-links a {
  text-decoration: none;
  color: #4c4c4c;
}
footer .footer-content .newsletter-col {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer hr {
  width: 1240px;
}
footer .animidia {
  display: flex;
  margin: auto;
  width: 1240px;
  justify-content: space-between;
}
footer .animidia .social-media {
  display: flex;
  gap: 0.5rem;
}
footer .animidia .social-media a {
  color: #1e1e1e;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
form label {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
}
form label input {
  padding: 0.25rem;
  width: 100%;
  border-radius: 0.25rem;
  border: none;
}
form button {
  font-size: 0.9rem;
  font-weight: 600;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  min-width: 6.25rem;
  cursor: pointer;
  background-color: #b55d51;
  color: #ffffff;
  transition: all 300ms ease-in-out;
  width: 50%;
}
@media (max-width: 768px) {
  form button {
    padding: 0.75rem;
    font-size: 1.2rem;
  }
}
form button:hover {
  background-color: #a5a5a5;
  color: #1e1e1e;
}

.modal-confirmation {
  position: fixed;
  padding: 60px 50px;
  top: 40%;
  left: 38%;
  background-color: #ebebeb;
  border-radius: 10px;
}
.modal-confirmation p {
  font-size: large;
  font-weight: 500;
  color: #974e44;
}
.modal-confirmation .close-btn {
  position: absolute;
  left: 90%;
  top: 10%;
  font-size: 1.25rem;
  border: none;
  color: #793e37;
  background-color: unset;
  cursor: pointer;
}

.featured-recipes-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: auto;
}
.featured-recipes-section .btn-container {
  display: flex;
  justify-content: flex-end;
}
.featured-recipes-section .btn-container .view-more-btn {
  background-color: unset;
  border: unset;
  color: #b55d51;
  font-weight: 600;
  cursor: pointer;
}
.featured-recipes-section .btn-container .view-more-btn:hover {
  text-decoration: underline;
}
@media (max-width: 768px) {
  .featured-recipes-section .btn-container .view-more-btn {
    display: none;
  }
}
.featured-recipes-section .top-recipes {
  gap: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
@media (max-width: 768px) {
  .featured-recipes-section .top-recipes {
    display: flex;
    flex-direction: column;
  }
}

.card-recipe {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #1e1e1e;
  border: 0.1rem solid #ebebeb;
  border-radius: 0.5rem;
  width: 100%;
  cursor: pointer;
}
.card-recipe img {
  border-radius: 0.5rem 0.5rem 0 0;
  height: 12.5rem;
  object-fit: cover;
}
.card-recipe .title-and-like {
  display: flex;
  justify-content: space-between;
  margin: 0.75rem 0.75rem 0 0.75rem;
}
.card-recipe .title-and-like .recipe-title {
  max-width: 30ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card-recipe .recipe-info {
  display: flex;
  justify-content: space-between;
  margin: 0.75rem;
}
.card-recipe .recipe-info span {
  font-size: 0.85rem;
  font-weight: 500;
  color: #4c4c4c;
}
.card-recipe .recipe-info .calories {
  display: flex;
  gap: 0.2rem;
  color: #b55d51;
  padding: 0.2rem;
  border: 0.12rem solid #b55d51;
  border-radius: 0.35rem;
}

.recipe-like {
  color: #1e1e1e;
  transition: all 300ms ease-in-out;
}
.recipe-like:hover {
  color: #974e44;
}
.recipe-like .solid-heart {
  color: #974e44;
}

.nutritional-facts {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 0.5rem;
  height: 32rem;
  overflow-y: scroll;
  background-color: #ebebeb;
}
.nutritional-facts h4 {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.nutritional-facts .nutritional-items {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  line-height: 1.5rem;
}
.nutritional-facts .nutritional-items div {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.nutritional-facts .nutritional-items div p {
  margin: unset;
}
.nutritional-facts .nutritional-items div::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.01rem;
  background-color: #a5a5a5;
}
.nutritional-facts .nutritional-items button {
  align-self: center;
  border: none;
  text-decoration: underline;
  background-color: unset;
  margin-top: 1rem;
  cursor: pointer;
}

.recipe-header {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.recipe-header .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.recipe-header .title .recipe-like {
  margin-left: 15rem;
  font-size: 1.5rem;
}
.recipe-header .recipe-specs {
  display: flex;
  gap: 2.2rem;
  justify-content: flex-start;
}
.recipe-header .recipe-specs .calories,
.recipe-header .recipe-specs .cuisine-type,
.recipe-header .recipe-specs .dish-type,
.recipe-header .recipe-specs .meal-type,
.recipe-header .recipe-specs .yield-value,
.recipe-header .recipe-specs .diet-labels {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 0.95rem;
}
.recipe-header .recipe-specs .calories .spec-icon,
.recipe-header .recipe-specs .cuisine-type .spec-icon,
.recipe-header .recipe-specs .dish-type .spec-icon,
.recipe-header .recipe-specs .meal-type .spec-icon,
.recipe-header .recipe-specs .yield-value .spec-icon,
.recipe-header .recipe-specs .diet-labels .spec-icon {
  color: #793e37;
  height: 1.25rem;
}
.recipe-header .recipe-specs span {
  text-transform: capitalize;
}
.recipe-header .recipe-cover {
  display: grid;
  grid-template-columns: 75% 25%;
  gap: 2rem;
}
.recipe-header .recipe-cover img {
  width: 100%;
  height: 34rem;
  object-fit: cover;
  border-radius: 0.5rem;
}

#ingredientsList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#ingredientsList .ingredients-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin: 1rem 0;
}
#ingredientsList .ingredients-list label {
  display: flex;
  gap: 0.5rem;
  width: fit-content;
}
#ingredientsList .ingredients-list label.checked {
  color: #a5a5a5;
  text-decoration: line-through;
}
#ingredientsList .ingredients-list label input {
  all: unset;
  border: 0.1rem solid #b55d51;
  border-radius: 0.2rem;
  width: 0.75rem;
  height: 0.75rem;
  cursor: pointer;
}
#ingredientsList .ingredients-list label input:checked {
  background-color: #b55d51;
}

.recipe-actions {
  display: flex;
  gap: 1rem;
}
.recipe-actions .ingrendients-list-btn {
  font-size: 0.9rem;
  font-weight: 600;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  min-width: 6.25rem;
  cursor: pointer;
  background-color: #b55d51;
  color: #ffffff;
  transition: all 300ms ease-in-out;
}
@media (max-width: 768px) {
  .recipe-actions .ingrendients-list-btn {
    padding: 0.75rem;
    font-size: 1.2rem;
  }
}
.recipe-actions .ingrendients-list-btn:hover {
  background-color: #a5a5a5;
  color: #1e1e1e;
}
.recipe-actions .market-list-btn {
  font-size: 0.9rem;
  font-weight: 600;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  min-width: 6.25rem;
  cursor: pointer;
  background-color: #ebebeb;
  transition: all 300ms ease-in-out;
}
@media (max-width: 768px) {
  .recipe-actions .market-list-btn {
    padding: 0.75rem;
    font-size: 1.2rem;
  }
}
.recipe-actions .market-list-btn:hover {
  background-color: #793e37;
  color: #ffffff;
}

.search-recipe-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.search-recipe-container .category-filters {
  display: flex;
  justify-content: space-around;
  background-color: #ebebeb;
  border-radius: 1rem;
  padding: 2rem 1rem;
}
@media (max-width: 768px) {
  .search-recipe-container .category-filters {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
.search-recipe-container .category-filters .selector {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 500;
  color: #974e44;
}
.search-recipe-container .category-filters .category-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0;
}
.search-recipe-container .category-filters .category-container h5 {
  color: #793e37;
}
.search-recipe-container .category-filters .category-container .filters-container {
  display: flex;
  gap: 10px;
}
.search-recipe-container .category-filters .category-container .filters-container .cuisine-selector {
  padding: 0.2rem 0.5rem;
  border-radius: 0.3rem;
  font-size: 1rem;
  border: none;
  color: #793e37;
  outline: none;
}
@media (max-width: 768px) {
  .search-recipe-container .category-filters .category-container .filters-container .cuisine-selector {
    width: 100%;
  }
}
.search-recipe-container #fetchButton {
  visibility: hidden;
  font-size: 0.9rem;
  font-weight: 600;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  min-width: 6.25rem;
  cursor: pointer;
  max-width: 400px;
  width: 100%;
  align-self: center;
  background-color: #b55d51;
  color: #ffffff;
}
@media (max-width: 768px) {
  .search-recipe-container #fetchButton {
    padding: 0.75rem;
    font-size: 1.2rem;
  }
}
.search-recipe-container #fetchButton.selected {
  visibility: visible;
}

#root {
  max-width: 1240px;
  margin: 0 auto;
  padding: 1rem 0;
  font-family: "Roboto", sans-serif;
  color: #1e1e1e;
}

main {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 4.25rem 0;
}
@media (max-width: 768px) {
  main {
    margin: 4.25rem 1rem;
  }
}

/*# sourceMappingURL=styles.css.map */
